@use 'sass:color';

$bg-color: #2F2F2F;
$base-font-color: #fff;

$top-bar-color: #2F2F2F;
$side-bar-color: #ddd;

$white: #fff;
$black: #000;

$grey: #bbb;
$grey-vlight: #ededed;
$grey-light: #ddd;
$grey-dark: #888;


$blue: #5C8FEF;
$blue-less: color.scale($blue, $lightness: 10%);
$blue-dark: color.scale($blue, $lightness: -10%);

$green: #0dc81a;
$green-light: color.scale($green, $lightness: 10%);
$green-dark: color.scale($green, $lightness: -10%);


$yellow: #f4a234;
$yellow-light: color.scale($yellow, $lightness: 10%);
$yellow-dark: color.scale($yellow, $lightness: -10%);

$red: #f03737;
$red-light: color.scale($red, $lightness: 10%);
$red-dark: color.scale($red, $lightness: -10%);


$alive: rgb(57, 207, 57);
