$base-font-color: #000;

$top-bar-color: #00f;
$side-bar-color: #ddd;

$white: #fff;
$black: #000;

$grey: #bbb;
$grey-vlight: #ededed;
$grey-light: #ddd;
$grey-dark: #888;

$blue: #2789fc;
$blue-light: ligthen($blue, 10%);
$blue-dark: darken($blue, 10%);


$green: #0dc81a;
$green-light: lighten($green, 10%);
$green-dark: darken($green, 10%);


$yellow: #f4a234;
$yellow-light: lighten($yellow, 10%);
$yellow-dark: darken($yellow, 10%);

$red: #f03737;
$red-light: lighten($red, 10%);
$red-dark: darken($red, 10%);


$alive: #0f0;
