$bg-color: #2F2F2F;
$base-font-color: #fff;

$top-bar-color: #2F2F2F;
$side-bar-color: #ddd;

$white: #fff;
$black: #000;

$grey: #bbb;
$grey-vlight: #ededed;
$grey-light: #ddd;
$grey-dark: #888;


$blue: #5C8FEF;
$blue-less: lighten($blue, 10%);
$blue-dark: darken($blue, 10%);

$green: #0dc81a;
$green-light: lighten($green, 10%);
$green-dark: darken($green, 10%);


$yellow: #f4a234;
$yellow-light: lighten($yellow, 10%);
$yellow-dark: darken($yellow, 10%);

$red: #f03737;
$red-light: lighten($red, 10%);
$red-dark: darken($red, 10%);


$alive: rgb(57, 207, 57);
