.site-logo {
  font-weight: 900;
  margin-left: 30px;
  font-size: 1.1rem;
}

.nav-icon-list {
  list-style: none;
  padding: 0px;
  float: right;
  margin-right: 20px;
}

.nav-icon-list > li {
  display: inline-block;
  margin: 8px;
}

img.nav-icon {
  height: 32px;
  width: 32px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
