header > nav > .logo {
  font-weight: 900;
  margin-left: 30px;
  font-size: 1.1rem;
}

header > nav > ul {
  list-style: none;
  padding: 0px;
  float: right;
  margin-right: 20px;
}

header > nav > ul > li {
  display: inline-block;
  margin: 8px;
}

header > nav > ul > li > a > img {
  height: 32px;
  width: 32px;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}

header .menu {
  float: right;
  margin: 1rem;
}

aside > nav {
  background-color: $side-bar-color;
  position: fixed;
  left: 0;
  top: 2rem;
  width: 5%;
  height: 100%;
  margin-right: 3rem;
}
